VITE_GOOGLE_SSO_URL=http://localhost:8080/oauth2/authorization/google
VITE_KAKAO_SSO_URL=http://localhost:8080/oauth2/authorization/kakao
VITE_LOGIN_URL=http://localhost:8080/api/auth/login
VITE_SIGNUP_URL=http://localhost:8080/api/auth/signup
VITE_POSTS_API_URL=http://localhost:8080/api/posts
